/* 📃 All page / element styles */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

body {
  background-color: azure;
}

/* Page header styles */
.page-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  background-color: rgb(23, 41, 34);
  color: rgb(248, 248, 255);
  height: 23vh;
}

.page-links {
  display: flex;
  flex-direction: row;
  align-items: end;
  font-size: 1.2rem;
  margin: 3rem 2rem;
  text-transform: uppercase;
}

.page-admin {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 3rem 2rem;
}

.icon {
  height: 1.2rem;
  margin-right: 1rem;
}

.link {
  margin-right: 3.5rem;
}

.page-logo {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-top: 1.5rem;
}

.page-logo h1 {
  font-family: 'Beth Ellen', cursive;
}

.logo {
  height: 2.5rem;
}

/* Content area styles */
.main {
  background-color: azure;
}

.dashboard-hdr {
  font-size: 2rem;
  margin: 2.5rem 1rem;
}

/* Card display styles */
.card-display {
  display: grid;
  grid: repeat(2, 15%) / auto-flow;
  grid-gap: 1rem;
  margin: 2.5rem 1rem;
  
}

/* Card styles */
.card {
  background-color: ghostwhite;
  /* box-shadow: 5px 5px 5px gray; */
  box-shadow: 1px 1px 10px 1px gray;
  height: 65vh;
  margin-bottom: .5rem;
}

.card-img {
  background: linear-gradient(0deg, rgba(130, 130, 130, 0.3), rgba(2, 36, 16, 0.666)), url("/assets/Ficus-elastica.JPG");
  /* background-image: url("/assets/Ficus-elastica.JPG"); */
  background-size: cover;
}

.card-hdr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkseagreen;
  height: 33%;
  padding: 1rem;
}

.large {
  height: 4.5rem;
}

.card-hdr > .large {
  background-color: ghostwhite;
  border-radius: 50px;
}

.card-views {
  color: ghostwhite;
  text-align: center;
  text-transform: uppercase;
}

.card-views > .card-stat {
  font-size: 2.3rem;
}

.card-details {
  box-sizing: inherit;
  color: slategrey;
  line-height: 1.5rem;
  /* this is messing with the margin-right property on the .card-display */
  /* padding: 1rem; */
}

.card-details >  h3, h5 {
  /* border: 5px solid fuchsia;  */
  /* margin-top: 1rem; */
  /* margin-left: 1rem; */
  /* margin: 1rem; */
  margin: 1.5rem 1rem 0 1rem;
    /* background-color: aqua; */
 }

 .card-details > h3 {
 }

 .card-details > p {
  margin-left: 1rem;
}

.card-details > h5 {
  margin-left: 1rem;
  text-transform: uppercase;
}

.card-ref {
  background-color: lightgreen;
  margin-top: 1rem;
  width: 88%;
  font-size: .9rem;
}

.card-ref > a {
  color: darkgreen;
  padding: 1rem;
  text-decoration: none;
}

.playlist {
  font-size: 1.2rem;
}

.card-stat {
  color: darkgreen;
  font-size: 2.5rem;
}

/* Open card styles */
.open-card {
  /* border: 5px solid yellow; */
  background-color: lightyellow;
  display: grid;
  grid-template-columns: 15% 85%;
  
}

/* Popout navigation bar */
/* This is currently a static element, but will eventually slide out when menu button clicked */
.side-nav {
  background-color: darkorchid;
  color: ghostwhite;
  /* border: 5px solid darkorchid; */
}

.nav-id, .nav-main, .nav-admin, .nav-categories {
  padding: 1rem;
}

/*  Details of opened card */
.card-details {
  /* border: 5px solid darkseagreen; */
  background-color: lightseagreen;
}

/* 🙈 Hide that shit! */
.hidden {
  display: none;
}