* {
  border: 1px solid turquoise;
}

html {
  font-size: 100%;
  /* sets the default font to 16px */
}

body {
  background: cover;

}

.smol-nav-hdr {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 4em;
}
